.pls {
  padding-left: 16px;
}

.prs {
  padding-right: 16px;
}

.float-right {
  float: right;
}

.ui.segment.body-content {
  padding: 36px;
}

.ui.card {
  position: relative;
  float: left;
  max-height: 450px;
}
