.navbar {
  border: solid purple 2px;
  background-color: #999;
  margin-bottom: 20px;
}

.navbar li {
  display: inline;
  padding-right: 20px;
}

.signin {
  border: solid green 2px;
  margin-bottom: 20px;
  padding: 10px;
}

.search {
  border: solid green 2px;
  margin-bottom: 20px;
  padding: 10px;
}

.pls {
  padding-left: 16px;
}

.prs {
  padding-right: 16px;
}

.ui.segment.body-content {
  padding: 36px;
}
