/*.grid {
  border-color: solid black 2px;
  width: 80%;
}*/

.pls {
  padding-left: 16px;
}

.prs {
  padding-right: 16px;
}

.mtm {
  margin-top: 24px;
}

.mtl {
  margin-top: 36px;
}

.mbl {
  margin-bottom: 36px;
}

.float-right {
  float: right;
}

.ui.inverted.menu {
  margin-bottom: 48px;
}

.ui.inverted.menu .item {
  font-size: 16px;
}

.ui.header.page-header {
  margin-bottom: 36px;
}

.ui.segment.body-content {
  padding: 36px;
}

img.ui.large.rounded.image {
  margin:  0 auto;
}

.ui.card.animated.fadeIn {
  position: relative;
  float: left;
  margin: 8px;
}

.all-the-puns {
  margin-left: 120px
}

.ball-center {
  display: block;
  margin: 0 auto;
}
